@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: 44, 62, 80;
  --secondary-color: 149, 165, 166;
  --accent-color: 230, 125, 34;
  --background-color: 255, 255, 255;
  --text-color: 0, 0, 0;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  background: rgb(var(--primary-color));
  color: rgb(var(--background-color));
}

.text-accent {
  color: rgb(var(--accent-color));
}

.bg-accent {
  background: rgb(var(--accent-color));
}

.bg-secondary {
  background: rgb(var(--secondary-color));
}

.bg-primary {
  background: rgb(var(--primary-color));
}

.btn-carousel {
  background: rgb(var(--accent-color));
  color: rgb(var(--background-color));
  padding: 5px;
}

.btn-carousel:hover {
  background: rgb(var(--primary-color));
}

input::placeholder{
  font-size: 10px;
  padding: 10px;
}

textarea::placeholder{
  font-size: 10px;
  padding: 10px;
}