@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color: 2, 3, 0;
  --secondary-color: 28, 32, 33;
  --accent-color: 242, 60, 2;
  --background-color: 2, 3, 0;
  --text-color: 254, 255, 254;
}

body {
  color: rgb(var(--text-color));
  background: rgb(var(--background-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.navbar {
  background: rgb(var(--secondary-color));
  /* color: rgb(var(--background-color)); */
}

.text-accent {
  color: rgb(var(--accent-color));
}

.bg-accent {
  background: rgb(var(--accent-color));
}

.bg-accent:hover{
  background: rgb(var(--secondary-color));

}

.bg-secondary {
  background: rgb(var(--secondary-color));
}

.bg-primary {
  background: rgb(var(--primary-color));
}

.btn-carousel {
  background: rgb(var(--accent-color));
  color: rgb(var(--background-color));
  padding: 5px;
}

.btn-carousel:hover {
  background: rgb(var(--primary-color));
}

input{
  font-size: 12px;
  padding: 4px;
}

input::placeholder{
  font-size: 12px;
  padding: 4px;
}
textarea{
  font-size: 12px;
  padding: 5px;
}
textarea::placeholder{
  font-size: 12px;
  padding: 5px;
}